.miniCardContainer, .cardContainer {
  background-color: rgb(65, 161, 206);
}
.miniCardContainer, .cardContainer {
  border: 2px solid rgb(65, 161, 206);
}
.cardHeader {
  color: rgb(65, 161, 206);
}
