.blue {
  background-color: rgb(65, 161, 206);
  border: 2px solid rgb(65, 161, 206);
}
.blueBg {
  background-color: rgb(65, 161, 206);
  border-color: #eee !important;
}
.blueHeader,
.blue .cardVote i,
.blue .cardVote span {
  color: rgb(65, 161, 206);
}
