.fase3LeftPane {
  display: flex;
  flex-direction: column;
  overflow: auto;
  height: 100vh;
  border-right: 1px solid #e5e5e5;
  
}
.blueCardDeck {
  background-color: lightblue;
}

.riskList {
  background-color: lightcoral;
}
.riskLane{
  border: 1px solid black;
  border-left-style: none;
  padding: 0.2rem 0.5rem;
  border-top-style: none;
}
.cardLane{
  border: 1px dashed black;
  border-top-style: none;
  padding: 2rem 0.5rem;
}
.blackLine {
  margin-right: 1rem;
  width: 85%;
  border: none;
  border-top: 0.05rem solid black;
}
.gutter-horizontal {
  cursor: grab;
  background-color: #e5e5e5;
}

.fase3RightPane {
  display: flex;
  flex-wrap: wrap;
  height: 100vh;
  overflow: auto;
  border-left: 1px solid #e5e5e5;
}
.splitContainerFase3 {
  display: flex;
  width: 100%;
}

.splitContainerFase3 textarea {
  width: 10vw;
  background-color: #e5e5e5;
  border: 1px solid rgb(228, 225, 225);
  border-radius: 2px;
  margin-top: 0.2rem;
  
}