.splitContainerFase2 {
  display: flex;
  width: 100%;
  height: 100vh;
}

.fase2LeftPane {
  border-right: 1px solid #e5e5e5;
  overflow: auto;
}
.fase2RightPane {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: scroll;
  border-left: 1px solid #e5e5e5;
  padding: 0.5rem 1rem;
}

.gutter-horizontal {
  cursor: grab;
  background-color: #e5e5e5;
}

div .form-group {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#riskPostItForm textarea {
  width: 25vw;
  background-color: #e5e5e5;
  border: 1px solid rgb(228, 225, 225);
  border-radius: 2px;
  resize: none;
  margin-top: 1rem;
}

ol.carousel-indicators {
  display: none;
}
.carousel-caption {
  position: static;
}
div.carousel {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  justify-items: center;
}
.blackLine {
  margin-right: 1rem;
  width: 85%;
  border: none;
  border-top: 0.05rem dashed rgb(46, 45, 45);
}
#fase2RightPane div.active.carousel-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.carousel-control-prev,
.carousel-control-next {
  height: 7rem;
}
.carousel .cardDescription {
  border-bottom-width: 0;
  margin-bottom: 0;
}

/* move it later to 
separate custom-bootstrap.css file */
.btn-outline-dark {
  border-radius: 0;
  text-transform: uppercase;
  border: 2px solid rgb(46, 45, 45);
}