.splitContainerFase2 {
  display: flex;
  width: 100%;
}

#fase2LeftPane {
  background-color: rgb(228, 222, 222);
  border-right: 1px dashed black;
  height: 100vh;
}
#fase2RightPane {
  background-color: rgb(207, 200, 200);
  display: flex;
  height: 100vh;
  flex-direction: column;
  align-items: center;
  height: 100vh;
  overflow: auto;
  border-left: 1px dashed black;
}

div .form-group {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#riskPostItForm textarea {
  width: 25vw;
  background-color: rgb(228, 225, 225);
  border: 1px solid black;
  border-radius: 2px;
  resize: none;
  margin-top: 1rem;
}

ol.carousel-indicators {
  display: none;
}
.carousel-caption {
  position: static;
}
div.carousel {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  justify-items: center;
}
.blackLine {
  margin-right: 1rem;
  width: 85%;
  border: none;
  border-top: 0.05rem dashed black;
}
#fase2RightPane div.active.carousel-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.carousel-control-prev,
.carousel-control-next {
  height: 7rem;
}
.btnContainer {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.goToNextFaseBtn,
.goToPrevFaseBtn {
  background-color: rgb(40, 182, 218);
  font-size: 1.2rem;
  width: 8rem;
  padding: 0.2rem;
  margin: 0.5rem 1rem;
  border-radius: 10px;
}
