// Color names
$primary-color: #00bfbc;
$primary-color-dark: #008990;
$secondary-color: #ffba1f;
$border-color: #e5e5e5;
$disabled-color: #e5e5e5;
$white: #ffffff;
$black: #000000;
$text-color: #62748a;
$text-color-dark: #2a3749;
$input-bg-color: rgba(98,116,138,0.08);
$input-border-color: rgba(98,116,138,0.08);
$box-shadow-color: rgba(12,113,195,0.1);
$card-shadow-color: rgba(158, 158, 158, 0.75);

$box-shadow: 0px 2px 6px 0px $box-shadow-color;

// Spaces (paddings and margins)


// Typography (including font-sizes)
