// Color names
$primary-color: #00bfbc;
$primary-color-dark: #008990;
$secondary-color: #ffba1f;
$border-color: #e5e5e5;
$disabled-color: #e5e5e5;
$postit-color: #ffc;
$white: #ffffff;
$black: #000000;
$text-color: #62748a;
$text-color-dark: #2a3749;
$arrow-color: rgb(147, 147, 150);
$input-bg-color: rgba(98, 116, 138, 0.08);
$input-border-color: rgba(98, 116, 138, 0.08);
$box-shadow-color: rgba(12, 113, 195, 0.1);
$card-shadow-color: rgba(158, 158, 158, 0.75);
$footer-bg-color: #2e2d2d;

// Spaces (paddings and margins)

$padding-top-navbar: 50px;
$padding-textarea: 0.25rem 0.75rem;
$margin-add-button: 2rem 0 1.5rem;
// Typography (including font-sizes)
