@import './_variables.scss';

$button-radius: 50px;

.button {
  color: $white;
  border-width: 0px;
  border-radius: $button-radius;
  font-size: 1rem;
  text-transform: uppercase;
}

/* big blueish buttons */
.buttonPrimary {
  @extend .button;

  border-radius: $button-radius * 2;
  outline: 100px;
  font-weight: $bold;
  background-color: $primary-color;
  border: 1px solid $primary-color;
  padding: 15px 50px;
  // margin-bottom: 2rem;
  &:hover {
    color: $white;
    background-color: $primary-color-dark;
    border: 1px solid $primary-color-dark;
  }
  &:disabled {
    background: $disabled-color;
    color: $text-color;
    border-color: $text-color;
  }
}

/* smaller yellow buttons */
.buttonSecondary {
  @extend .button;

  font-size: 0.8rem;
  font-weight: $bold;
  background-color: $secondary-color;
  padding: 10px 25px;
  white-space: pre;
  position: relative;
  text-decoration: none;
  &:hover {
    text-decoration: none;
    color: #ffffff;
  }
}

/* export to PDF in phase 2 and 3 */
.exportButton {
  position: absolute;
  top: calc(60px + 0.75rem); /* height of topNavbar */
  left: 25px;
  z-index: 2;
  text-decoration: none;
}
/* rounded delete risk button in fase2*/
.removeButton {
  background-color: $secondary-color;
  color: $white;
  border-radius: 50%;
  border: 1px solid $secondary-color;
  padding: 0px 5px;
}
/* download PDF button */
.downloadButton {
  position: absolute;
  top: calc(60px + 0.75rem); /* height of topNavbar */
  left: 25px;
  z-index: 2;
  text-decoration: none;
}
