/* big blueish buttons */
.buttonPrimary {
  color: #ffffff;
  border-width: 0px;
  border-radius: 100px;
  outline: 100px;
  font-size: 1rem;
  font-weight: 700;
  text-transform: uppercase;
  background-color: #00bfbc;
  border: 1px solid #00bfbc;
  padding: 15px 50px;
  margin-bottom: 2rem;
}
.buttonPrimary:hover {
  color: #fff;
  background-color: #008990;
  border: 1px solid #008990;
}
/* .buttonPrimary:active,
.buttonPrimary:focus {
  outline: 100px;
} */
.buttonPrimary:disabled {
  background: #e5e5e5;
  color: grey;
  border-color: grey;
}

/* smaller yellow buttons */
.buttonSecondary {
  color: #ffffff;
  border-width: 0px;
  border-radius: 50px;
  font-size: 0.8rem;
  font-weight: 600;
  text-transform: uppercase;
  background-color: #ffba1f;
  padding: 10px 25px;
  white-space: pre;
  position: relative;
  text-decoration: none;
}
.buttonSecondary:hover {
  text-decoration: none;
  color: #ffffff;
}

/* export to PDF in phase 2 and 3 */
.exportButton {
  position: absolute;
  top: calc(60px + 0.75rem); /* height of topNavbar */
  left: 25px;
  z-index: 2;
  text-decoration: none;
}
