/*
general css for card template
*/
.cardContainer {
  display: flex;
  flex-direction: column;
  align-content: center;
  border: 1px solid black;
  max-width: 10rem;
  border-radius: 5px;
  padding: 0.5rem;
  margin: 0.5rem;
}
.miniCardContainer {
  display: flex;
  flex-direction: column;
  align-content: center;
  width: 15vw;
  border-radius: 5px;
  padding: 0.3rem;
  margin: 0.5rem;
}
.cardTitle,
.cardSubtitle {
  text-transform: uppercase;
  border: dashed;
  background-color: #fff;
  padding: 0.1rem;
}
.cardTitle {
  max-width: inherit;
  font-size: 2.5vmin;
  border-bottom-style: none;
}

.cardSubtitle {
  font-size: 2vmin;
  border-top-style: none;
}
.cardDescription {
  font-size: 1.5vmin;
  color: #fff;
  border: 2px dotted white;
  border-top-style: none;
  padding: 0.4vw;
  word-spacing: 0.05rem;
  line-height: 0.85rem;
}
.exampleContainer {
  display: flex;
  font-size: 1.5vmin;
  color: #fff;
}
.exampleNumber {
  font-size: 3vmin;
  font-weight: bold;
  align-self: center;
}
.cardExample1 {
  padding-top: 0.2rem;
}
.cardExample1,
.cardExample2,
.cardExample3 {
  padding-left: 0.5rem;
  margin: 0.05rem;
  word-spacing: 0.05rem;
  line-height: 0.75rem;
}
.dottedHr {
  width: 95%;
  border: none;
  border-top: 2px dotted white;
  margin: 0.08rem;
}
