/*
general css for card template
*/
.cardContainer {
  display: flex;
  flex-direction: column;
  align-content: center;
  width: 220px;
  border-radius: 10px;
  margin: 0.75rem;
}
.cardContainer:hover {
  cursor: pointer;
}

.miniCardContainer {
  display: flex;
  flex-direction: column;
  align-content: center;
  width: 220px;
  border-radius: 10px;
  margin: 0.75rem;
}
.cardHeader {
  text-transform: uppercase;
  background-color: #fff;
  padding: 0.75rem;
  border-radius: 9px 9px 0 0;
}
.cardTitle {
  font-size: 1.5rem;
  line-height: 1.2;
  font-weight: 400;
}
.cardSubtitle {
  font-size: 1rem;
}
.cardBody {
  padding: 0 0.75rem 0.75rem;
  border-radius: 0 0 9px 9px;
}
.cardDescription {
  font-size: 0.9rem;
  line-height: 1.1;
  color: #fff;
  border-bottom: 2px solid white;
  padding: 0 0.75rem 0.75rem;
  margin: 0.75rem -0.75rem;
  word-spacing: 0.05rem;
}
/* uncomment when cards' expanding is done in LeftPane */
/* .fase1LeftPane .cardDescription,
.miniCardContainer .cardDescription {
  border-bottom-width: 0;
  margin-bottom: 0;
} */

.exampleContainer {
  display: flex;
  font-size: 0.8rem;
  color: #fff;
}
.exampleNumber {
  font-size: 1.75rem;
  font-weight: bold;
  align-self: center;
}
.cardExample1 {
  padding-top: 0.5rem;
}
.cardExample1,
.cardExample2,
.cardExample3 {
  padding-left: 0.5rem;
  margin: 0.05rem;
  word-spacing: 0.05rem;
  line-height: 1.1;
}
.dottedHr {
  width: 95%;
  border: none;
  border-top: 2px dotted white;
  margin: 0.5rem 0.08rem;
}
