/*
general css for card template
*/
.cardContainer {
  display: flex;
  flex-direction: column;
  align-content: center;
  width: 210px;
  border-radius: 5px;
  margin: 0.75rem;
  -webkit-box-shadow: 3px 5px 5px 0px rgba(158, 158, 158, 0.75);
  -moz-box-shadow: 3px 5px 5px 0px rgba(158, 158, 158, 0.75);
  box-shadow: 3px 5px 5px 0px rgba(158, 158, 158, 0.75);
}
.cardContainer:hover {
  cursor: pointer;
}

.cardHeader {
  text-transform: uppercase;
  background-color: #fff;
  padding: 0.75rem 0.75rem 0.5rem;
  border-radius: 5px 5px 0 0;
  overflow-wrap: break-word;
}
.cardTitle {
  font-size: 1.35rem;
  line-height: 1.2;
  font-weight: 400;
}
.cardSubtitle {
  font-size: 0.9rem;
}
.cardBody {
  padding: 0 0.75rem 0.5rem;
  border-radius: 0 0 5px 5px;
}
.cardDescription {
  font-size: 0.8rem;
  line-height: 1.1;
  color: #fff;
  /* temporary, till expanding is not fixed: */
  /* border-bottom: 2px solid white; */
  padding: 0 0.75rem 0.75rem;
  margin: 0.75rem -0.75rem;
  margin-bottom: 0; /* temporary, till expanding is not fixed */
  padding-bottom: 0; /* temporary, till expanding is not fixed */
  /* word-spacing: 0.05rem; */
}

.leftPane .cardDescription {
  border-bottom-width: 0;
  margin-bottom: 0;
  /* padding-bottom: 0; */
}

.exampleContainer {
  display: flex;
  font-size: 0.75rem;
  color: #fff;
}
.exampleNumber {
  font-size: 1.75rem;
  font-weight: bold;
  align-self: center;
  padding-right: 0.5rem;
}
.cardExample1 {
  padding-top: 0.75rem;
}
.cardExample1,
.cardExample2,
.cardExample3 {
  margin: 0.05rem;
  word-spacing: 0.05rem;
  line-height: 1.1;
}
.cardExample1,
.cardExample2 {
  border-bottom: 2px dotted #fff;
  padding-bottom: 0.5rem;
}
.cardExample2,
.cardExample3 {
  margin-top: 0.5rem;
}
