.topNavbar {
  width: 100%;
  background-color: rgb(46, 45, 45);
  color: rgb(201, 206, 211);
  font-size: 2rem;
  text-transform: uppercase;
  padding: 0.3rem;
  text-align: center;
  height: 60px;
}
