.topNavbar {
  width: 100%;
  background-color: rgb(46, 45, 45);
  padding: 0 4rem;
  display: flex;
  align-items: center;
  height: 60px;
}
.logo {
  height: 40px;
}
.faseNum {
  color: rgb(201, 206, 211);
  font-size: 1.25rem;
  padding-left: 2rem;
  text-transform: uppercase;
  font-weight: 400;
}