/* fase 4 */
.fase4Container {
  box-sizing: border-box;
}
.blueCardHeader {
  font-size: 2rem;
  text-align: center;
  text-transform: uppercase;
  border-radius: 5px;
  background-color: rgb(65, 161, 206, 0.4);
  width: 100%;
  margin: 0 auto;
  padding: 0.35rem;
}
.title  {
  font-weight: bolder;
}
.miniCard {
  text-align: center;
  border-radius: 5px;
  border-width: 6px;
  -webkit-box-shadow: 3px 5px 5px 0px rgba(158, 158, 158, 0.75);
  -moz-box-shadow: 3px 5px 5px 0px rgba(158, 158, 158, 0.75);
  box-shadow: 3px 5px 5px 0px rgba(158, 158, 158, 0.75);
  /* margin: 0.2rem 0; */
  width: 275px;
  margin: 0.2rem auto;
}
.colorWhite {
  color: #eee !important;
  background-color: rgb(65, 161, 206) !important;
}

.colorCardsColumn {
  width: 275px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1rem;
}
.riskCardsColumn {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 2rem;
}
.fa-plus {
  padding-right: 0.5rem;
}
.riskStream {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 2rem 0;
  border-bottom: 2px dashed #e5e5e5;
}
.rowHeader {
  text-transform: uppercase;
  font-size: 1.45rem;
  text-align: center;
  margin-left: 0.2rem;
  padding: 0.5rem;
}
 .textareaContainer{
   padding: 0 3px;
 }
textarea {
  width: 100% !important;
}
.largerWidth {
  width: 275px !important;
}
p:first-child {
  text-align: center;
}
.addTaskButtonContainer {
  margin-top: 1rem;
}
.deleteTaskButtonContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
