/* fase 4 */
/* .fase4LeftContainer {
 
}
 */
.miniCard {
  text-align: center;
  border-radius: 5px;
  border-width: 6px;
  -webkit-box-shadow: 3px 5px 5px 0px rgba(158, 158, 158, 0.75);
  -moz-box-shadow: 3px 5px 5px 0px rgba(158, 158, 158, 0.75);
  box-shadow: 3px 5px 5px 0px rgba(158, 158, 158, 0.75);
  margin: 0.2rem 0;
  width: 275px;
}
.colorWhite {
  color: #eee !important;
  background-color: rgb(65, 161, 206) !important;
}
.whiteBorder {
  border-width: 6px;
  border-color: #eee !important;
}
.risk {
  width: 275px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.riskCardsColumn {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 2rem;
}

.riskStream {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 5rem;
}
.rowHeader {
  text-transform: uppercase;
  font-size: 1.45rem;
  text-align: center;
  margin-left: 0.2rem;
  padding: 0.5rem;
}
textarea {
  width: 100% !important;
}
.largerWidth {
  width: 275px !important;
}
.addTaskButtonContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}
