/* fase 4 */
@import '../../../../assets/styles/_variables';
@import '../../../../assets/styles/_mixins';

.blueCard {
  &__header {
    text-align: center;
    text-transform: uppercase;
    color: $white;
    width: 100%;
    margin: 0 auto;
    padding: 0.35rem;
    margin-top: 1.5rem;
    color: $blue-card-color;
  }
  &__title {
    font-size: 2.5rem;
    font-weight: $bold;
    text-transform: none;
  }
}

.riskStream {
  @include flex-row-centered;
  padding: 2rem 0;
  border-bottom: 2px dashed $border-color;
  .riskCardsColumn {
    @include flex-column-centered;
    margin-right: 2rem;
    .largerWidth {
      width: 275px !important;
    }
    .colorCardsColumn {
      width: 275px;
      @include flex-column-centered;
      margin-top: 1rem;
    }
    .addTaskButtonContainer {
      margin-top: 1rem;
      .fa-plus {
        padding-right: 0.5rem;
      }
    }
  }
  .row {
    margin-bottom: 0.75rem;
    > div {
      padding-left: 0.5rem;
      padding-right: 0.5rem;
    }
    &__header {
      font-size: 1rem;
      text-align: center;
      margin-left: 0.2rem;
      font-weight: $bold;
    }
    textarea {
      width: 100% !important;
      &__container {
        padding: 0 3px;
      }
    }
    .deleteTaskButtonContainer {
      width: 25px;
    }
  }
}

.miniCard {
  @include box-shadow(3px 5px 5px 0px $card-shadow-color);
  color: $white;
  width: 275px;
  text-align: center;
  border-radius: 5px;
  padding: 0.35rem;
  margin: 0.35rem auto;
  .cardTitle {
    font-weight: $bold;
    text-transform: uppercase;
  }
  .cardSubtitle {
    text-transform: uppercase;
    font-size: 0.9rem;
  }
}
