

.darkorange {
  background-color: rgb(243, 115, 11);
  border: 2px solid rgb(243, 115, 11);
}
.darkorangeBg {
  background-color: rgb(243, 115, 11);
  
}
.darkorangeHeader,
.darkorange .cardVote i,
.darkorange .cardVote span {
  color: rgb(243, 115, 11);
}
