.nav {
  justify-content: space-around;
  margin-top: 1rem;
}
.nav-tabs {
  width: 100%;
}
.tab-content {
  padding: 1rem;
}
.nav-link {
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 600;
  color: rgb(201, 206, 211);
  text-transform: uppercase;
}
.nav-link.active {
  color: #000;
}
.tab .cardBody {
  padding-bottom: 1.5rem;
}
