.splitContainerFase2 {
  height: 100vh;
}
.fase2LeftPane {
  overflow: auto;
}
.fase2RightPane {
  flex-direction: column;
  align-items: center;
  overflow: scroll;
  padding: 0.5rem 1rem;
}
.innerRiskRow {
  display: flex;
  flex-direction: column;
}

/* Adding risks form */
.form-group {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.form-row {
  margin: 0 0 1rem 0;
}
textarea,
.textareaBg {
  width: 25vw;
  resize: none;
  padding: 0.25rem 0.75rem;
  font-size: 0.9rem;
  border: 2px solid #000;
  background-color: #fff;
}
.riskDetailsForm {
  text-align: center;
}
.riskDetailsForm textarea {
  margin-right: 1rem;
}
.buttonContainer {
  min-width: 50px;
}
.addButton {
  display: inline-block;
  margin: 2rem 0 1.5rem;
}
.addButton i {
  padding-right: 0.5rem;
}

/* Card carousel */
ol.carousel-indicators {
  display: none;
}
.carousel-caption {
  position: static;
}
div.carousel {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  justify-items: center;
}
div.active.carousel-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.carousel-control-prev,
.carousel-control-next {
  height: 7rem;
  filter: invert(1);
}
.carousel .cardContainer {
  margin: 0 auto;
}
.carousel .cardDescription {
  border-bottom-width: 0;
  margin-bottom: 0;
}

/* Export to PDF button */
.fase2LeftPane {
  padding-top: 40px; /* height of exportButton */
}
.exportButton {
  position: absolute;
  top: calc(60px + 0.75rem); /* height of topNavbar */
  left: 25px;
  z-index: 2;
  text-decoration: none;
}
