.splitContainerFase2 {
  height: 100vh;
}
.fase2LeftPane {
  overflow: auto;
}
.fase2RightPane {
  flex-direction: column;
  align-items: center;
  overflow: scroll;
  padding: 0.5rem 1rem;
}
.innerRiskRow {
  display: flex;
  flex-direction: column;
}

/* Adding risks form */
.form-group {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.form-row {
  margin: 0 0 1rem 0;
}
textarea,
.textareaBg {
  width: 25vw;
  resize: none;
  padding: 0.25rem 0.75rem;
  font-size: 0.9rem;
  border: 1px solid rgba(98,116,138,0.08);
  background-color: rgba(98,116,138,0.08);
  border-radius: 5px;
  font-weight: 400;
  letter-spacing: 2px;
  color: #62748a;
}
.riskDetailsForm {
  text-align: center;
}
.riskDetailsForm textarea {
  margin-right: 1rem;
}
.addButton {
  display: inline-block;
  margin: 2rem 0 1.5rem;
}
.addButton i {
  padding-right: 0.5rem;
}
.removeButton {
  background-color: #ffba1f;
  color: #ffffff;
  border-radius: 50%;
  border: 1px solid #ffba1f;
  padding: 0px 5px;
}

/* Card carousel */
ol.carousel-indicators {
  display: none;
}
.carousel-caption {
  position: static;
}
.carousel {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  justify-items: center;
}
.active.carousel-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.carousel-control-prev,
.carousel-control-next {
  height: 10rem;
  filter: invert(1);
}
.carousel-control-prev-icon,
.carousel-control-next-icon{
  height: 4rem;
  width: 3rem;
}
.carousel .cardContainer {
  margin: 0 auto;
}
.carousel .cardDescription {
  border-bottom-width: 0;
  margin-bottom: 0;
}

/* Export to PDF button */
.fase2LeftPane {
  padding-top: 50px; /* height of exportButton */
}
