.loginContainer {
  padding: 3rem;
  background-color: #fff;
  border-radius: 10px;
  width: 400px;
}
.loginContainer h3 {
  text-align: center;
}
.loginContainer form {
  margin: 0 auto;
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.loginContainer .form-group {
  width: 100%;
}
.form-group:last-of-type {
  margin-bottom: 3rem;
}
.username,
.password {
  font-size: 1.2rem;
  font-weight: 400;
  text-align: left;
}
.loginContainer input {
  border: 2px solid #000;
  border-radius: 0;
}
