@import '../../assets/styles/_variables.scss';
@import '../pages/main-page/index.scss';

.loginPage {
  background-size: 90%;
}
.loginContainer {
  @extend .mainPage__buttonContainer;

  h3 {
    /* font-family: 'Montserrat',Helvetica,Arial,Lucida,sans-serif; */
    font-weight: $bold;
    text-transform: uppercase;
    font-size: 1rem;
    letter-spacing: 2px;
  }
  form {
    width: 100%;
    margin: 0 auto;
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .form-group {
    width: 100%;
    align-items: flex-start;
    &:last-of-type {
      margin-bottom: 3rem;
    }
  }
  input {
    font-size: 1rem;
    font-weight: 400;
    letter-spacing: 2px;
    color: $text-color;
    border: 1px solid $input-border-color;
    background-color: $input-bg-color;
    border-radius: 5px;
    padding: 1rem;
    height: 3rem;
  }
  a {
    align-self: flex-end;
  }
}
