@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

html {
  font-size: min(max(14px, 2vw), 20px);
}
body {
  box-sizing: border-box;
  margin: 0;
  font-family: 'Robot', sans-serif;
}

