.splitContainer {
  display: flex;
  width: 100%;
}
/* Left pane */
.leftPane {
  display: flex;
  flex-direction: column;
  overflow: auto;
  height: 100vh;
}

/* Right pane */
.rightPane {
  display: flex;
  flex-wrap: wrap;
  height: 100vh;
  overflow: auto;
}

/* Gutter */
.gutter-horizontal {
  cursor: grab;
  background-color: #e5e5e5;
  position: relative;
  margin: 0 0.75rem;
}
.gutter-horizontal::before,
.gutter-horizontal::after {
  content: '';
  position: absolute;
  top: calc(50% - 5px);
  width: 0;
  height: 0;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
}
.gutter-horizontal::before {
  right: -10px;
  border-left: 10px solid rgb(147, 147, 150);
}
.gutter-horizontal::after {
  left: -10px;
  border-right: 10px solid rgb(147, 147, 150);
}
