.green {
  background-color: rgb(8, 122, 8);
  border: 2px solid rgb(8, 122, 8);
}

.greenBg {
  background-color: rgb(8, 122, 8);
}
.greenHeader,
.green .cardVote i,
.green .cardVote span {
  color: rgb(8, 122, 8);
}
