@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');

html {
  /* font-size: min(max(14px, 2vw), 20px); */
  font-size: 16px;
}
body {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  margin: 0;
}
* {
  box-sizing: border-box;
}

#root {
  height: 100%;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  position: relative;
  padding-bottom: 74px;
}