@import '../../assets/styles/_variables';
@import '../../assets/styles/_mixins';

.pdfContainer {
  padding: 2rem;
  padding-top: calc(2rem + 40px);
  .exportButton {
    top: 1rem;
    left: 2.5rem;
  }
  .cardContainer {
    width: 210px;
    border: 2px solid $blue-card-color;
    @include box-shadow(none);
  }
  .cardTitle,
  .cardSubtitle {
    padding: 0.2rem 0.5rem;
    color: $blue-card-color;
    text-transform: uppercase;
    background-color: transparent;
  }
  .cardDescription {
    background-color: $blue-card-color;
    margin: 0;
    padding: 0.5rem;
  }
}

.pdfContent {
  break-after: always;
}

.mainContainer {
  width: 970px;
  display: flex;
  align-items: flex-start;
  border-bottom: 2px solid $border-color;
  margin-bottom: 1rem;
  padding-bottom: 1rem;
  &:last-child {
    margin-bottom: 0;
    padding-bottom: 0;
    border-bottom-width: 0;
  }
}
.riskContainer {
  display: flex;
  flex-direction: column;
  &:last-child {
    border-bottom-width: 0;
  }
}
.riskLane {
  padding: 1.75rem 1rem;
  width: 750px;
  border-bottom: 2px dashed $border-color;
  &:first-child {
    padding-top: 0.75rem;
  }
  &:last-child {
    padding-bottom: 0.75rem;
  }
}
.riskText {
  max-width: 200px;
  font-size: $primary-font-size;
}
.downloadButton {
  position: absolute;
  top: calc(60px + 0.75rem); /* height of topNavbar */
  left: 25px;
  z-index: 2;
  text-decoration: none;
}
