
.cardRow {
  border-bottom: 2px solid #e5e5e5;
  padding: 1rem 0;
  margin: 0 1rem;
  display: flex;
  align-items: center;
}
.innerCardRow {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 225px;
}
.innerRiskRow {
  width: calc(100% - 225px);
}
.riskLane {
  padding: 0.5rem 0.5rem 0.75rem;
  display: flex;
  align-items: center;
  margin-left: 1rem;
  border-bottom: 2px solid #e5e5e5;
}
.riskLane:last-child {
  border-bottom-width: 0;
}
.riskPostit .textareaBg,
.riskPostit textarea {
  width: 200px;
  overflow-wrap: break-word;
  background:#ffc;
  border-color: #ffc;
  -webkit-box-shadow: 3px 5px 5px 0px rgba(158, 158, 158, 0.75);
  -moz-box-shadow: 3px 5px 5px 0px rgba(158, 158, 158, 0.75);
  box-shadow: 3px 5px 5px 0px rgba(158, 158, 158, 0.75);
}
.riskPostit p {
  margin-bottom: 0.5rem;
  
}
.textareaBg b{
  text-transform: uppercase;
}