@import '../../assets/styles/_variables.scss';
@import '../../assets/styles/_mixins.scss';

.cardRow {
  border-bottom: 2px solid $border-color;
  padding: 1rem 0;
  margin: 0 1rem;
  @include flex-row-centered;
}
.innerCardRow {
  @include flex-row-centered;
  justify-content: center;
  min-width: 225px;
}
.innerRiskRow {
  width: calc(100% - 225px);
  display: flex;
  flex-direction: column;
}
.riskLane {
  padding: 0.5rem 0.5rem 0.75rem;
  @include flex-row-centered;
  margin-left: 1rem;
  border-bottom: 2px solid $border-color;
  &:last-child {
    border-bottom-width: 0;
  }
}
.riskPostit {
  .textareaBg,
  textarea {
    width: 200px;
    overflow-wrap: break-word;
    background: $postit-color;
    border-color: $postit-color;
    @include box-shadow(3px 5px 5px 0px $card-shadow-color);
  }
  p {
    margin-bottom: 0.25rem;
  }
  .riskId {
    font-weight: $bold;
    font-size: 0.8rem;
  }
}
