.pdfContainer {
  padding: 2rem;
  padding-top: calc(2rem + 40px);
}
.pdfContainer .exportButton {
  top: 1rem;
  left: 2.5rem;
}
.pdfContent{
  break-after: always;
}
.pdfContainer .cardContainer {
  width: 210px;
  border: 2px solid rgb(65, 161, 206);
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.pdfContainer .cardTitle,
.pdfContainer .cardSubtitle {
  padding: 0.2rem 0.5rem;
  color: rgb(65, 161, 206);
  text-transform: uppercase;
  background-color: transparent;
}
.pdfContainer .cardDescription {
  background-color: rgb(65, 161, 206);
  margin: 0;
  padding: 0.5rem;
}

.mainContainer {
  width: 970px;
  display: flex;
  align-items: flex-start;
  border-bottom: 2px solid #e5e5e5;
  margin-bottom: 1rem;
  padding-bottom: 1rem;
}
.mainContainer:last-child {
  margin-bottom: 0;
  padding-bottom: 0;
  border-bottom-width: 0;
}
.riskContainer {
  display: flex;
  flex-direction: column;
}
.riskContainer:last-child {
  border-bottom-width: 0;
}
.riskLane {
  padding: 1.75rem 1rem;
  width: 750px;
  border-bottom: 2px dashed #e5e5e5;
}
.riskText {
  max-width: 200px;
  font-size: 0.8rem;
}
.riskLane:first-child {
  padding-top: 0.75rem;
}
.riskLane:last-child {
  padding-bottom: 0.75rem;
}
.downloadButton{
   position: absolute;
  top: calc(60px + 0.75rem); /* height of topNavbar */
  left: 25px;
  z-index: 2;
  text-decoration: none;
}